body{
    margin: 0;
    padding: 0;
  background-color: white;
}
header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    top:0;
    right: 0;
    left: 0;
   
}

.register-button{
    padding: 4px 14px;
    box-shadow: inset -3px 1px  rgb(3, 118, 68);
    color: #faf8f9;
    outline: none;
    background-color: rgb(5, 86, 17);
}


.register-allign{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 12px 19px;
}


.left-section-img{
   margin-right: 5px;
}
img{
    width: 150px;
    cursor: pointer;
}

.middle-section{
    white-space: nowrap;
}
.face-icon-sizes{
    width: 26px;
    border-radius: 50%;
}

.input-text{
    border: 1px solid green ;
    height: 20px;
    /* box-shadow: inset 1px 1px 0.5 gray; */
}


/* galery image stylling */
.image-galery{
    display: block;
    margin-top: 100px;
    margin-bottom: -50px;
   
}
.sliders{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:4px;
    text-align: center;
    position: relative;
}

.sliders{
    position: relative;
}
.slides,.img{
    aspect-ratio: 1/1;
}




.middle-section button{
    width: 20px;
    height: 20px;
   padding: 10px;
   vertical-align: top; 
   box-shadow: inset 20px, 10px 0.5 red;
   margin-left: -20px;

}

.arrows{
    background-color: #fbe709;
    position: absolute;
}

.time-colon{
    font-weight: bold;
    padding-left: 6px;
    ;
}

.image-info-display-block{
    display: none;
}

.search-icon{
    width: 20px;
}

.middle-section img{
 height: 20px;
 margin-top: -11px;
 margin-left: -10px;
}






.cancel-icon-display-none{ 
    height: 25px;
    background-color: rgb(241, 233, 233); 
     display:none; 
    width: 25px;
    
}
.cancel-thumnail-display-none{
    width: 18px;
    margin-left: -4px;
   
}


.bell-icon-sizes{
    width: 25px;
    margin-right: 10px;
   
}

.right-section .larger{
    margin-right: 20px;
    height: 25px;
    border-radius: 11px;
}

.nav-division ul{
    display: flex;
    flex: 1;
    list-style-type: none;
    margin-left: -10px;
}

.nav-division li{
  margin: 10px;
cursor: pointer;
text-decoration: none;
text-transform:uppercase;

}

.nav-division li:hover{
  color: white;
}

.right-section{
    padding-right: 10px;
    white-space: nowrap;

}



.icon-image-div{
    display: inline-block;
    position: relative;
}
.bell-icon-count{
    position: absolute;
    top:-5px;
    right: 18px;
    color: white;
    background-color: rgb(34, 6, 77);
    border-radius: 50%;
    text-align: center;
    font-size: small;
    padding: 2px;
}

.display-grid{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}




.logo-image-div{
   
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    z-index: 0px;
}
.grid-image-margin{
    margin-left: 20px;
    aspect-ratio: 1/1;
    width: 300px;
    
}

.image-info{
    width: 300px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 24px;
    position:absolute;
    top:25px;
   color: rgba(240, 248, 255, 0.394);
   padding-top: 80px;
   padding-bottom: 50%;
   padding-left: 0;
   color: black;
   cursor: pointer;
  opacity: 0;
  transition: opacity 1s;
  padding-bottom: 80px;

  
}

.image-info:hover{
    opacity: 1;
    background: rgba(0, 0, 0, 0.755);
    color: white;
}
footer{
    background-color: rgb(96, 96, 98);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-flex-div {
    margin-left: 5px;
    margin-right: 50px;
    display:flex;
    justify-content: space-between;
   gap:20px;
   margin-bottom: 0;
}

.tittle{
    margin-top: 90px;
    text-transform: uppercase;
    margin-left: 20px;
}
.social-media{
    width: 40px;
}
.instagram{
    border-radius: 50%;
}
.instagram-and-youtube{
    white-space: nowrap;
}


/* timmer css */

.end-registration{

text-align: center;
padding-top: 200px;
}

.nums{
    font-weight: bold;
}
.timmer{

    display:flex;
    justify-content: center;
    gap:20px;
    background: linear-gradient(90deg, rgb(16, 16, 72), #fbe709,red);
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
}
.coppy-footer-section{
    white-space: nowrap;
}

@media (max-width:1070px) {
    body{
        background-color: rgb(120, 17, 216);

    }
    .grid-image-margin{
        width: 240px;
    }

    .image-info{
        width: 240px;
        padding-top: 40px;
    }

    
}

@media (max-width:900px) {
    body{
        background-color: rgb(231, 95, 17);
    }

     .grid-image-margin{
        width: 180px;
    }
    .display-grid{
       grid-template-rows: 1fr;
    }
    .image-info{
        width: 180px;
        padding-top: 5px
    }
    
    
}

@media (max-width:660px) {
    body{
        background-color: rgb(235, 206, 16);
    }
    

    .logo-image-div{
        margin-top: 40px;
    }

    .image-info{
        position: static;
        margin-left: 32px;
        display: block;
        padding-bottom: 0;
        margin-top: 1px;
    }

    .grid-image-margin{
        width: 200px;
    }

    .display-grid{
      display: block;
     margin-left: 100px;
     margin-right: 20x;
}
.nav-division{
     display:block;
    position:absolute ;
    top: 7rem;
    right: 1px;
    background-color: rgb(3, 3, 64);
    color: wheat;

}
.li-columns,li{
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 6px;
}


.cancel-icon-display-block{
    display: block;
    border: none;
    width: 25px;
    position: fixed;
    right: 0px;
    top: 77px;
    margin-right: 9px;
    margin-left: 10px;
    /* background-color: rgb(137, 102, 6); */
    color: white;
}
.cancel-thumbnail-display-block{
   margin-left: -4px;
   margin-top: 3px;
   margin-left: -2px;
}
.bell-icon-sizes{
    
    margin-right: 20px;
}
.face-icon-sizes{
    margin-right: 20px;
}


.image-info{
    display: none;
}

.image-info-display-block{
        display: block;
        width: 169px;
        margin-left:38px ;
    }

    .navHide{
        display: none;
    }
    
}